// ==========================================================================
// layout/content.scss
// ==========================================================================

.content {
    position: relative;
    left: 0;
    background-color: $color--white;
    transition: all .5s;
    z-index: 10;
    overflow: hidden; // Prevent horizontal scrolling.
    @extend %overlay;
}