// ==========================================================================
// footer.scss
// ==========================================================================

.footer {
    color: $color--white;
    background-color: $color--navy;
    padding: 27px 0 0;

    // Increase top padding on lg screens.
    @include mq_min($breakpoint--lg) { padding: 47px 0 0; }

    // Make links section wrap to new line when necessary.
    @include e(contents) {
        @include flex($disp: flex, $wrap: wrap);
    }

    // Add space between company and links section on lg screens.
    @include e(company) {
        @include mq_min($breakpoint--lg) { width: 400px; }
    }

    // Increase logo size on xs+ screens.
    @include e(logo-wrapper) {
        width: 250px;
        @include mq_min($breakpoint--xs) {width: 320px;}
    }

    // Prevent logo from going out of bounds.
    @include e(logo) {
        width: 100%;
    }

    @include e(heading) {
        @include font($trfm: uppercase);
        margin-bottom: 26px;

        // Add space above heading.
        @include m(mt-24) {
            margin-top: 24px;
        }
    }

    // Make social media icons wrap to new line when necessary.
    @include e(social-media) {
        @include flex($disp: flex, $wrap: wrap);
        margin-bottom: 30px;
    }

    @include e(sm-logo) {
        @include flex($disp: flex, $just: center); // Center icons.
        @include font($size: 26px, $hght: 26px); // Set icon size.
        @include bg-color-hover-modifiers($color-map--social-media); // Add hover colors.

        // Make icons look like buttons.
        background-color: $color--navy-darker;
        padding: 16px 22px 16px;

        // Add space around icons.
        margin-right: 10px;
        margin-bottom: 10px;

        // Show two icons per line on xs screens.
        @include mq_max($breakpoint--xs) { width: 35%; }

        // Reduce space between icons on lg screens.
        @include mq_min($breakpoint--lg) { margin-right: 7px; }
    }

    // Make links section fill available space on sm+ screens.
    @include e(links) {
        @include mq_min($breakpoint--sm) { flex-grow: 1; }
    }

    // Increase bottom margin on lg screens.
    @include e(links-group) {
        margin-bottom: 30px;
        @include mq_min($breakpoint--lg) { margin-bottom: 40px; }
    }

    @include e(link) {
        @include font($size: rem(13px), $hght: rem(22px));
    }
}