// ==========================================================================
// layout/header.scss
// ==========================================================================

.header {
    padding: 20px 0;

    // Keep header contents aligned on xs screens.
    @include e(contents) {
        @include mq_max($breakpoint--sm - 1) { 
            align-items: center;
            margin: 0!important; // Override row margin.
        }
    }

    // Override col padding on xs screens.
    @include e(logo-wrapper, phone-wrapper, actions-wrapper) { 
        @include mq_max($breakpoint--sm - 1) { padding: 0!important; }
    }

    // Make header elements the same size and add gap between them.
    @include e(btn, hamburger, search) {
        height: 56px; 
        margin-left: 20px; 
    }

    // Make logo take up available space on xs screens.
    @include e(logo-wrapper) { 
        @include mq_max($breakpoint--sm - 1) { flex: 1; }
    }

    @include e(logo) { max-width: 100%; } // Keep logo within bounds.

    // Set icon size and add space to the left.
    @include e(phone) {
        @include font($size: 32px, $color: $color--navy-dark);
        margin-left: 15px;
    }

    // Override col width on xs screens.
    @include e(actions-wrapper) {
        @include mq_max($breakpoint--sm - 1) { width: auto!important; }
    }

    // Force action elements to right side and add vertical padding.
    @include e(actions) {
        @include flex($disp: flex, $just: flex-end);
        padding: 7px 0;
    }

    // Align btn text and icon.
    @include e(btn) {
        @include font($size: rem(18px), $hght: 46px);
        align-items: stretch;
    }

    // Set icon size and position.
    @include e(btn-icon) {
        @include font($size: rem(23.008px), $hght: 45px);
        margin-right: 5px;

    }

    // Stack and center hamburger lines.
    @include e(hamburger) {
        @include flex($disp: flex, $dir: column, $just: center);
        border: 0;
    }

    // Set hamburger line size and spacing.
    @include e(hamburger-line) {
        height: 4px;
        width: 33px;
        background-color: $color--white;
        margin-top: 6px;

        &:first-child { margin-top: 0; } // Remove margin top from first line.
    }

    @include e(form) {
        @include flex($disp: flex); // Removes space between search btn and form.

        // Add space above search bar on xs screens. 
        @include mq_max($breakpoint--sm - 1) {
            position: relative;
            margin-top: 11px;
        }
    }

    // Increase search bar width on lg screens and hide on md screens.
    @include e(search) {
        width: 174px;

        @include mq_min($breakpoint--lg) { width: 240px; }
        @include mq_range($breakpoint--md, $breakpoint--lg - 1) { display: none; }
    }

    // Style search-xs bar.
    @include e(search-xs) {
        background-color: $rgba--grey-dark;
        border: 2px solid $rgba--grey-dark;

        // Override default active and focus styles.
        &:active, &:focus {
            border: 2px solid $rgba--grey-dark;
            box-shadow: 0 0 3px $color--white;
        }
    }

    @include e(search-icon) {
        @include font($size: 21px, $hght: 46px, $color: $color--navy-dark);
        border: none;
        background: none;

        // Position search icon inside search-xs bar.
        position: absolute;
        right: 5.5px;
    }

    // Style search btn and center icon.
    @include e(search-btn) {
        font-size: 24px;
        width: 63px;
        border: none;
        border-radius: 0 3px 3px 0;
        padding: 0px 21px 3px;
        cursor: pointer;

        // Add space to the left on md screens.
        @include mq_range($breakpoint--md, $breakpoint--lg - 1) { margin-left: 20px; }
    }
}