// ==========================================================================
// layout/licence.scss
// ==========================================================================

.licence {
    padding-top: 10px;
    background: $color--navy-darker;

    @include e(info) {
        @include font($size: rem(13px), $color: $color--white);
        display: flex;
        padding: 5px 0 10px;

        // Show licence text in column on xs screens.
        @include mq_max($breakpoint--sm - 1) {
            @include flex($dir: column);
        }
    }

    @include e(sitemap) {
        line-height: rem(22px);
        margin-top: -2px;

        // Add hythen to sitemap on sm+ screens.
        @include mq_min($breakpoint--sm) {
            margin-left: 10px;

            &::before {
                content: '-';
                margin-right: 5px;
            }
        }
    }
}