// ==========================================================================
// utilities/hidden.scss
// ==========================================================================

// Hide element.
.hidden {
    display: none;
}

// Hide element on xs screens.
.hidden-xs {
    @include mq_max($breakpoint--sm - 1) {
        display: none;
    }
}

// Hide element on sm- screens.
.hidden-sm-down {
    @include mq_max($breakpoint--md - 1) {
        display: none;
    }
}

// Hide element on sm+ screens.
.hidden-sm-up {
    @include mq_min($breakpoint--sm) {
        display: none;
    }
}

// Hide element on md- screens.
.hidden-md-down {
    @include mq_max($breakpoint--lg - 1) {
        display: none;
    }
}