// ==========================================================================
// utilities/section.scss
// ==========================================================================

// Add vertical padding for spacing.
.section {
    padding-top: 50px;
    padding-bottom: 50px;
}

// Clear top padding.
.top {
    padding-bottom: 0;
}

// Clear bottom padding.
.bottom {
    padding-top: 0;
}