// ==========================================================================
// home/affiliates.scss
// ==========================================================================

.affiliates {
    // Override owl carousel display (for when js is disabled).
    @include e(carousel) { display: flex; }

    @include e(item) {
        @include flex($disp: flex, $algn: center);
        position: relative;
        height: 70px;
        padding: 0 20px; // Add space between affiliates.

        // Show description wrapper on hover.
        &:hover { 
            .affiliates__description-wrapper { display: block; }
        }
    }

    // Position description wrapper above logo.
    @include e(description-wrapper) {
        display: none;
        position: absolute;
        inset: auto -200px 100% -200px;
    }

    // Position description wrapper above logo.
    @include e(description) {
        @include font($color: $color--white, $algn: center);
        background-color: $color--navy-dark;
        max-width: 280px;
        padding: 20px;
        margin: 0 auto 50px;
    }

    @include e(heading) {
        font-size: rem(18px);
        padding-bottom: 17px;
        margin: 0;
    }

    @include e(paragraph) {
        @include font($size: rem(13px), $hght: rem(22px));
        margin-bottom: 0;
    }

    @include e(btn) {
        display: flex;
        font-size: 16px;
        margin-top: 11px;
    }

    // Position arrow below description.
    @include e(arrow) {
        @extend %aff-arrow;
        position: absolute;
        bottom: 10px;
        left: 50%;
        margin-left: -36px;
    }

    // Keep all logos the same size.
    @include e(logo) {
        max-height: 70px;
        max-width: 200px;

        // Give logos color on hover.
        filter: grayscale(1);
        &:hover { filter: grayscale(0); }
    }
}