// ==========================================================================
// home/banner.scss
// ==========================================================================

.banner {
    // Override owl carousel display (for when js is disabled).
    @include e(carousel) { display: flex; }

    // Stack and center banner contents vertically.
    @include e(item) {
        @include flex($disp: flex, $dir: column, $just: center);
        position: relative;
        color: $color--white;
        min-height: 550px;
        background-color: $color--black; // For dimming effect.

        // Make banner stretch to page width (for when js is disabled).
        flex: 0 0 100%;

        // Center banner contents horizontally on md- screens.
        @include mq_max($breakpoint--md) { text-align: center; }
    }

    @include e(overlay) {
        @include inset-fill(absolute); // Stretch to fill container.

        // Dim banner image on md- screens.
        @include mq_max($breakpoint--md - 1) { opacity: 0.5; }

        // Dim left side of banner image on md+ screens.
        @include mq_min($breakpoint--md) {
            ::before {
                content: "";
                @include inset-fill(absolute);
                background: linear-gradient(270deg, transparent 25%, $color--black);
                z-index: 3;
            }
        }
    }

    // Keep image within bounds.
    @include e(image-wrapper) {
        @extend %size-fill;
    }

    // Keep image aspect ratio.
    @include e(image) {
        @extend %size-fill;
        object-fit: cover;
    }

    // Keep on top of other elements.
    @include e(content) {
        padding: rem(60px) 0;
        z-index: 4;
    }

    @include e(heading) {
        @include font($size: rem(40px), $wght: $font-weight--semi-bold, $hght: rem(48px));
        margin: 0 0 rem(20px);

        // Increase font size on md+ screens.
        @include mq_min($breakpoint--md) {
            @include font($size: rem(64px), $hght: rem(80px));
        }
    }

    @include e(paragraph) {
        @include font($size: rem(20px), $wght: $font-weight--semi-bold, $hght: rem(28px));
        margin-bottom: rem(6px);

        // Increase font size on md+ screens.
        @include mq_min($breakpoint--md) {
            @include font($size: rem(26px), $hght: rem(40px));
        }
    }

    @include e(btn) {
        @include font($size: rem(20px), $hght: 50px);
        padding: 5px 20px;
        margin: rem(31.008px) 0 rem(18px); 
    }
}