// ==========================================================================
// banner.scss
// ==========================================================================

.banner {
    @include e(item) {
        @include font($color: $color--white);
        @include flex($disp: flex, $dir: column, $just: center); // Stack banner contents.
        position: relative;
        min-height: 550px;
        background-color: $color--black; // For dimming effect.

        // Center banner contents on screens sizes up to md.
        @include mq_max($breakpoint--md) {
            @include font($algn: center);
        }
    }

    @include e(overlay) {
        @include inset-fill(absolute); // Stretch to fill container.

        // Dim banner image on screen sizes up to md.
        @include mq_max($breakpoint--md - 1) { opacity: 0.5; }

        // Dim left side of banner image on md+ screens.
        @include mq_min($breakpoint--md) {
            ::before {
                content: "";
                @include inset-fill(absolute);
                background: linear-gradient(270deg, transparent 25%, $color--black);
                z-index: 3;
            }
        }
    }

    // Keep image within bounds.
    @include e(image-wrapper) {
        @extend %size-fill;
    }

    // Zoom keep aspect ratio.
    @include e(image) {
        @extend %size-fill;
        object-fit: cover;
    }

    @include e(content-wrapper) {
        padding: rem(60px) 0;
        z-index: 4; // Keep contents ontop of overlay.
    }

    @include e(heading) {
        @include font($size: rem(40px), $wght: $font-weight--semi-bold, $hght: rem(48px));
        margin: 0 0 rem(20px);

        // Increase font size on md+ screens.
        @include mq_min($breakpoint--md) {
            @include font($size: rem(64px), $hght: rem(80px));
        }
    }

    @include e(paragraph) {
        @include font($size: rem(20px), $wght: $font-weight--semi-bold, $hght: rem(28px));
        margin-bottom: rem(6px);

        // Increase font size on md+ screens.
        @include mq_min($breakpoint--md) {
            @include font($size: rem(26px), $hght: rem(40px));
        }
    }

    @include e(btn) {
        @include font($size: rem(20px), $hght: 50px);
        @include flex($disp: inline-flex, $algn: center); // Align btn text and icon.
        padding: 5px 20px;
        margin-top: rem(31.008px);
        margin-bottom: rem(18px);
    }
}