// ==========================================================================
// home/brand.scss
// ==========================================================================

.brand {
    color: $color--white;
    background-color: $color--navy-dark;

    // Add space around heading.
    @include e(heading) { margin: -6px 0 40px; }

    // Add space between paragraphs.
    @include e(paragraph) {
        line-height: rem(30px);
        margin-bottom: 25px;
    }

    // Add space below stars.
    @include e(star) {
        @include font($size: 43px, $color: $color--brand-star);
        margin: 0 -2px 32px 0;
    }

    @include e(quote) {
        @include font($size: rem(20.8px), $style: italic);
    }

    @include e(quote-author) { font-size: rem(17.6px); }
    @include e(quote-title) { color: $color--brand-quote-title; } // Highlight author name.

    @include e(btn) {
        font-size: 20px;
        border-radius: 6px;
        padding: 10px 30px;

        // Styles for review buttons.
        @include m(review) {
            border: none;
            margin-top: 25px;

            // Decrease space above btns on md- screens.
            @include mq_max($breakpoint--lg - 1) { margin-top: 20px; }
        }

        // Modifiers for adding space around buttons.
        @include m(mr-8)  { margin-right: 8px; }
        @include m(mb-17) { @include mq_max($breakpoint--lg - 1) { margin-bottom: 17px; } }
        @include m(mb-50) { @include mq_max($breakpoint--md - 1) { margin-bottom: 50px; } }
    }
}