// ==========================================================================
// heading.scss
// ==========================================================================

.heading {
    width: 100%;

    // Add space above heading.
    @include m(pt-50) {
        padding-top: 50px;
    }

    // Put single heading in the middle of container.
    @include e(single) {
        @include font($algn: center);
        margin-bottom: 20px;

        // Add space below heading.
        @include m(mb-35) {
            margin-bottom: 35px;
        }

        // Add space above and decrease space below heading.
        @include m(mtmb-30-70) {
            margin: 30px auto -70px;
        }
    }

    // Put double heading at opposite sides of container.
    @include e(double) {
        @include flex($disp: flex, $just: space-between);
    }

    @include e(title) {
        color: $color--navy-dark; // Set heading color.

        // Styles for small headings.
        @include m(sm) { 
            @include font($size: rem(26px)); 
        }

        // Styles for medium headings.
        @include m(md) { 
            margin: 0 0 28px; 
        }

        // Styles for large headings.
        @include m(lg) {
            @include font($size: rem(43.2px), $wght: $font-weight--regular);
            margin: -13px 0 -10px 0;

            // Add extra space below heading on screens up to md.
            @include mq_max($breakpoint--lg - 1) { margin-bottom: 15px;}
        }
    }
}