// ==========================================================================
// news.scss
// ==========================================================================

.news {
    // Add verical padding for spacing.
    @include e(articles-wrapper) {
        padding-top: 15px;
        padding-bottom: 50px;
    }

    @include e(articles) {
        margin-top: -30px;

        // Hide last article of screens between sm and lg.
        @include mq_range($breakpoint--sm, $breakpoint--lg - 1) {
            .news__item-wrapper:last-child {
                display: none;
            }
        }
    }

    @include e(item) {
        @include font($size: rem(13px));
        @include move-on-hover(top, 0, -10px, .5s, ease); // Move article up on hover.
        position: relative;
        margin-top: 30px; // Add space between articles.
    }

    // Make entire article a link.
    @include e(link) {
        position: absolute;
        inset: 0;
        z-index: 1;
    }

    // Add category label to top right corner.
    @include e(category) {
        @include font($size: rem(12px), $hght: rem(23.008px), $trfm: uppercase, $color: $color--white);
        @include bg-color-modifiers($color-map--services);
        position: absolute;
        top: 10px;
        right: 0;
        padding: 0 10px;
        z-index: 1;
    }

    // Keep image in bounds.
    @include e(image) {
        width: 100%;
    }

    // Styles for article preview.
    @include e(preview) {
        border-top: 0;
        border-radius: 0 0 3px 3px;
    }

    @include e(heading) {
        @include font($size: rem(16px), $hght: rem(24px));
        @include color-modifiers($color-map--services);
        @include mq_min($breakpoint--sm) { min-height: rem(48px); } // For keeping article heights consistent.
    }

    @include e(paragraph) {
        @include font($hght: rem(22px));
        @include mq_min($breakpoint--sm) { min-height: 66px; } // For keeping article heights consistent.
        margin-bottom: 25px;
    }

    @include e(user) {
        @include font(rem(14px));
        @include flex($disp: flex, $algn: center);
        border-top: 1px solid $color--grey; // Add separator between author and paragraph.
        padding-top: 30px;
        margin-top: 30px;
    }

    // Make avatar a circle.
    @include e(avatar) {
        border-radius: 50%;
        overflow: hidden;
    }

    @include e(date) {
        @include font($hght: 22px);
        padding-left: 20px; // Add space between avatar and date.
    }

    // Change color of 'posted by' text.
    @include e(author) {
        color: $color--navy-dark;
    }
}