// ==========================================================================
// home/news.scss
// ==========================================================================

.news {
    // Add vertical padding for spacing.
    @include e(articles-wrapper) { padding: 15px 0 50px; }

    @include e(articles) {
        margin-top: -30px;

        // Hide last article on screens between sm and lg.
        @include mq_range($breakpoint--sm, $breakpoint--lg - 1) {
            .news__item-wrapper:last-child { display: none; }
        }
    }

    @include e(item) {
        @include animate-on-hover(top, 0, -10px, 0.5s, ease); // Move article up on hover.
        position: relative;
        font-size: rem(13px);
        margin-top: 30px; // Add space between articles.
    }

    // Make article a link.
    @include e(link) {
        @include inset-fill(absolute);
        z-index: 1;
    }

    @include e(category) {
        @include font($size: rem(12px), $hght: rem(23.008px), $trfm: uppercase, $color: $color--white);
        @include bg-color-modifiers($color-map--services);
        padding: 0 10px;
        z-index: 1;

        // Position category label in top right corner.
        position: absolute;
        top: 10px;
        right: 0;
    }

    @include e(image) { width: 100%; } // Keep image in bounds.

    // Styles for article preview.
    @include e(preview) {
        border-top: 0;
        border-radius: 0 0 3px 3px;
    }

    @include e(heading) {
        @include font($size: rem(16px), $hght: rem(24px));
        @include color-modifiers($color-map--services);

        // Keep article heights equal.
        @include mq_min($breakpoint--sm) { min-height: rem(48px); }
    }

    @include e(paragraph) {
        line-height: rem(22px);
        margin-bottom: 25px;

        // Keep article heights equal.
        @include mq_min($breakpoint--sm) { min-height: 66px; }
    }

    @include e(user) {
        @include flex($disp: flex, $algn: center);
        font-size: rem(14px);
        border-top: 1px solid $color--grey; // Add separator between user and paragraph sections.
        padding-top: 30px;
        margin-top: 30px;
    }

    // Make avatar a circle.
    @include e(avatar) {
        border-radius: 50%;
        overflow: hidden;
    }

    @include e(date) {
        line-height: 22px;
        padding-left: 20px; // Add space between avatar and date.
    }

    @include e(author) { color: $color--navy-dark; } // Change color of 'posted by' text.
}