// ==========================================================================
// home/services.scss
// ==========================================================================

.services {
    // Add space above services section.
    @include e(list) { margin-top: 20px; }

    // Keep all service items the same size.
    @include e(item-wrapper) {
        display: flex;
        width: 100%;
    }

    @include e(item) {
        @include font($algn: center, $color: $color--navy-dark);
        @include bg-color-hover-modifiers($color-map--services);
        @include animate-on-hover(top, 0, -10px, 0.5s, ease); // Move item up on hover.
        position: relative;
        width: 100%;
        border-radius: 15px;
        margin-top: 30px; // Add space between items.

        // Invert item colors on hover.
        &:hover {
            .services__icon-wrapper, .btn { 
                @include color-modifiers($color-map--services);
                background-color: $color--white;
                border-color: $color--white;  
            }
        }
    }

    // Make icon wrapper a circle and adjust size.
    @include e(icon-wrapper) {
        @include bg-color-modifiers($color-map--services);
        display: block;
        height: 65px;
        width: 65px;
        border-radius: 50%;
        margin: 0 auto 17px;
    }

    @include e(icon) {
        @include font($size: rem(32px), $hght: 62px);
    }

    @include e(heading) {
        @include font($size: rem(20.8px));
        padding-bottom: 10px;
        margin: 0 0 11px;
    }

    @include e(paragraph) {
        @include font($size: rem(13px), $hght: rem(22px));
        margin-bottom: 13px;
    }
}