// ==========================================================================
// components/btn.scss
// ==========================================================================

// Default button styles.
.btn {
    @include flex($disp: inline-flex, $algn: center, $just: center); // Center and align contents.
    @include font($size: rem(17.008px), $hght: 35px, $trfm: uppercase);
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 5px 15px;
    cursor: pointer;

    // Add bg and bg hover colors.
    @include bg-color-modifiers($color-map--btns, $color-map--services, $color-map--reviews);
    @include bg-color-hover-modifiers($color-map--btns-dark, $color-map--services-dark, $color-map--reviews-dark);

    // Add space between icon and btn text.
    @include e(icon) {
        @include m(right) { margin: 0 -4px 0 12px; }
    }
}