// ==========================================================================
// components/card.scss
// ==========================================================================

// Default card styles.
.card {
    display: block;
    border: 1px solid $color--grey;
    border-radius: 3px;
    padding: 30px;
    box-shadow: 0 3px 35px $rgba--grey-d1;
}