// ==========================================================================
// Mixins
// ==========================================================================

@mixin flex($disp: flex, $dir: null, $wrap: null, $just: null, $algn: null) {
	display: $disp;
	flex-direction: $dir;
	flex-wrap: $wrap;
	justify-content: $just;
	align-items: $algn;
}

@mixin mq($break) {
	@if $break == "x-small" {
	  @media (min-width: $brkpoint-xs) {
		@content;
	  }
	}
	@else if $break == "small" {
	  @media (min-width: $brkpoint-sm) {
		@content;
	  }
	}
	@else if $break == "medium" {
	  @media (min-width: $brkpoint-md) {
		@content;
	  }
	}
	@else if $break == "large" {
		@media (min-width: $brkpoint-lg) {
		  @content;
		}
	}
	@else {
		@error "Whoops! No value could be retrieved for `#{$break}`. "
	}
}
