// ==========================================================================
// colors.scss
// ==========================================================================

// Add color modifier classes from color maps.
@mixin color-modifiers($color-maps...) {
	@each $color-map in $color-maps {
	  	@each $theme, $color in $color-map {
			&--#{$theme} {
				color: $color;
			}
	  	}
	}
}

// Add background color modifier classes from color maps.
@mixin bg-color-modifiers($color-maps...) {
	@each $color-map in $color-maps {
		@each $theme, $color in $color-map {
			&--#{$theme} {
				color: $color--white;
				background-color: $color;
				border-color: $color;
			}
		}
	}
}

// Add background color hover modifier classes from color maps.
@mixin bg-color-hover-modifiers($color-maps...) {
	@each $color-map in $color-maps {
		@each $theme, $color in $color-map {
			&--#{$theme} {
				&:hover {
					color: $color--white;
					background-color: $color;
					border-color: $color;
				}
			}
		}
	}
}