// ==========================================================================
// flexbox.scss
// ==========================================================================

// Common flexbox proprties.
@mixin flex($disp: null, $flex: null, $wrap: null, $dir: null, $algn: null, $just: null, $gap: null) {
	display: $disp;
    flex: $flex;
    flex-wrap: $wrap;
	flex-direction: $dir;
    align-items: $algn;
	justify-content: $just;
    gap: $gap;
}