// ==========================================================================
// mixins/helpers.scss
// ==========================================================================

// Animate property change on hover.
@mixin animate-on-hover($prop, $start, $end, $dur, $ease) {
    #{$prop}: #{$start};
    transition: #{$dur} #{$ease};
  
    &:hover {
      #{$prop}: #{$end};
    }
}

// Set position and fill inset.
@mixin inset-fill($pos) {
    position: #{$pos};
    inset: 0;
}