// ==========================================================================
// mixins/typography.scss
// ==========================================================================

// Common font properties.
@mixin font($size: null, $style: null, $wght: null, $hght: null, $spce: null, $algn: null, $trfm: null, $color: null) {
    font-size: $size;
    font-style: $style;
    font-weight: $wght;
	line-height: $hght;
    letter-spacing: $spce;
    text-align: $algn;
    text-transform: $trfm;
    color: $color;
}