// ==========================================================================
// placeholders/helpers.scss
// ==========================================================================

// Padding for gutter and to keep content away from edges.
%padding-horizontal {
    padding-left: 15px;
    padding-right: 15px;
}

// Fill container.
%size-fill {
    height: 100%;
    width: 100%;
}

// Background color for sidebark links.
%sidebar-link-bg-color {
    background-color: $rgba--grey-darkest;
}

// Dark outer divider for sidebar items.
%sidebar-item-divider-outer {
    border-top: 1px solid $rgba--grey-darkest3;
}

// Light inner divider for sidebar items.
%sidebar-item-divider-inner {
    border-top: 1px solid $hsla--grey-dark;
}