// ==========================================================================
// placeholders.scss
// ==========================================================================

%padding-horizontal {
    padding-left: 15px;
    padding-right: 15px;
}

%size-fill {
    height: 100%;
    width: 100%;
}