// ==========================================================================
// contact-us/contact.scss
// ==========================================================================

.contact {
    color: $color--navy-dark;

    @include e(email) {
        @include font($size: rem(26px), $wght: $font-weight--semi-bold, $hght: 1.1);
        @include color-modifiers($color-map--services);
    }

    @include e(accordion) {
        font-weight: $font-weight--semi-bold;
        cursor: pointer;

        // Underline accordion on hover.
        &:hover { 
            text-decoration: underline;
        }
    }

    // Hide accordion panel by default.
    @include e(accordion-panel) {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s linear;
    }
}