// ==========================================================================
// Affiliates
// ==========================================================================

.affiliates {
    padding: 50px 0px;

    @include e(carousel) {
        @include flex($dir: row);
    }

    @include e(item) {
        @include flex($algn: center);
        position: relative;
        padding: 0 20px;
        margin-right: 50px;

        &:hover {
            .affiliates__item-description {
                display: block;
            }
        }
    }

    @include e(item-description) {
        display: none;
        position: absolute;
        inset: auto -200px 100% -200px;
    }

    @include e(item-box) {
        @include text($align: center, $color: $color--white);
        background-color: $color--box-bg;
        max-width: 280px;
        padding: 20px;
        margin: 0 auto 50px;
    }

    @include e(item-title) {
        @include text($size: rem(18px), $color: $color--white);
        padding-bottom: 17px;
        margin: 0;
    }

    @include e(item-text) {
        @include text($size: rem(13px), $height: rem(22px));
        margin-bottom: 0;
    }

    @include e(item-btn) {
        @include flex();
        @include text($size: 16px);
        margin-top: 11px;
    }

    @include e(item-arrow) {
        position: absolute;
        bottom: 10px;
        left: 50%;
        margin-left: -36px;

        &:after {
            content: "";
            display: inline-block;
            border-style: solid;
            border-width: 35px 36px 0;
            border-color: $color--box-bg transparent transparent;
            margin: auto;
        }
    }

    @include e(item-img) {
        max-height: 70px;
        max-width: 200px;
        filter: grayscale(1);

        &:hover {
            filter: grayscale(0);
        }
    }
}