// ==========================================================================
// Affiliates
// ==========================================================================

.affiliates {
    padding: 50px 0px;

    @include e(carousel) {
        @include flex($dir: row);
    }

    @include e(item) {
        @include flex($algn: center);
        position: relative;
        height: 70px;
        max-height: 70px;
        padding: 0 20px;
        margin-right: 50px;
    }

    @include e(item-img) {
        max-height: 70px;
        filter: grayscale(1);
    }
}