// ==========================================================================
// Buttons
// ==========================================================================

.btn {
    @include bg-colors($colors--btns);
    @include bg-colors($colors--services);
    
    @include text($size: rem(17.008px), $height: 35px);
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 5px 15px;
    text-transform: uppercase;
    cursor: pointer;

    @include e(icon) {
        line-height: 35px;

        @include m(right) {
            margin-right: -4px;
            margin-left: 12px;
        }
    }
}