// ==========================================================================
// Container
// ==========================================================================

.container {
    padding: 0px 15px;
    margin: 0px auto;

    @include mq(small) { width: $container-width--sm; }
    @include mq(medium) { width: $container-width--md; }
    @include mq(large) { width: $container-width--lg; }
}