// ==========================================================================
// Container
// ==========================================================================

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    @include mq(small) { width: $container-width-sm; }
    @include mq(medium) { width: $container-width-md; }
    @include mq(large) { width: $container-width-lg; }
}