// ==========================================================================
// Container
// ==========================================================================

.container {
    margin-right: auto;
    margin-left: auto;
    @extend %padding-horizontal;

    @include mq(small) { width: $container-width--sm; }
    @include mq(medium) { width: $container-width--md; }
    @include mq(large) { width: $container-width--lg; }
}