// ==========================================================================
// Footer
// ==========================================================================

.footer {
    color: $color-white;
    background-color: $color-footer-bg;
    padding-top: 27px;

    @include e(heading) {
        text-transform: uppercase;
        margin-bottom: 26px;

        @include m(social) {
            margin-top: 24px;
        }
    }

    @include mq(large) {
        padding-top: 47px;
    }

    @include e(company) {
        @include flex($wrap: wrap, $just: space-between);
    }
    
    @include e(social) {
        @include flex($wrap: wrap);
        width: 100%;
    }

    @include e(logo-wrapper) {
        width: 250px;

        @include mq(x-small) {
            width: 320px;
        }
    }

    @include e(logo) {
        width: 100%;
    }
}