// ==========================================================================
// Footer
// ==========================================================================

.footer {
    background-color: $color-footer-bg;
    color: $color-white;
    padding-top: 27px;

    @include mq(large) {
        padding-top: 47px;
    }
}