// ==========================================================================
// Heading
// ==========================================================================

.heading {

    @include e(single) {
        text-align: center;
        margin-bottom: 20px;

        @include m(padded) {
            margin-bottom: 35px;
        }
    }

    @include e(double) {
        @include flex($just: space-between);
    }

    @include e(link, title) {
        @include text($weight: $font-weight--semi-bold, $color: $color--box-bg);
    }

    @include e(title) {
        @include m(large) {
            @include text($size: rem(43.2px), $weight: $font-weight--regular);
            margin: -13px 0 -10px 0;
    
            @include mq(large, max) {
                margin-bottom: 15px;
            }
        }
    }

    @include m(padded) {
        padding-top: 50px;
    }
}