// ==========================================================================
// License
// ==========================================================================

.license {
    background-color: $color-license-bg;
    padding-top: 10px;

    @include e(text) {
        @include flex($dir: column);
        @include text($size: rem(13px), $color: $color-white);
        padding-top: 5px;
        padding-bottom: 11.5px;

        @include mq(small) {
            flex-direction: row;
            gap: 0.346em;
        }
    }
}