// ==========================================================================
// variables/colors.scss
// ==========================================================================
//

// Multi-use Colors
$color--black           : #000;
$color--white           : #fff;
$color--navy            : #323544;
$color--navy-dark       : #333645;
$color--navy-darker     : #212330;
$color--grey-light      : #e5e5e5;
$color--grey-lighter    : #e6e7e9;
$color--grey            : #ccc;
$color--grey-dark       : #666;

// Single-use Colors
$color--brand-star                  : orange;
$color--brand-quote-title           : #a3a8ac;
$color--textfield-border-focus      : #5bc0de;
$color--textfield-font-color        : #555;
$color--required-asterisk           : #d24d57;

//RGBA Colors
$rgba--black-light      : rgba(0,0,0,0.7);;
$rgba--grey             : rgba(0,0,0,0.075);
$rgba--grey-dark        : rgba(0,0,0,0.1);
$rgba--grey-darker      : rgba(0,0,0,0.2);
$rgba--grey-darkest     : rgba(0,0,0,0.25);
$rgba--grey-darkest2    : rgba(0,0,0,0.4);
$rgba--grey-darkest3    : rgba(0,0,0,0.45);
$rgba--cyan             : rgba(91,192,222,0.6);

//HSLA Colors
$hsla--grey          : hsla(0, 0%, 100%, 0.1);
$hsla--grey-dark     : hsla(0, 0%, 100%, 0.05);


// Color Maps
$color-map--social-media: (
    facebook    : #3b5998,
    linkedin    : #0077b5,
    x           : #00aced,
    instagram   : #d93175
);

$color-map--services: (
    bespoke     : #67809f,
    it          : #4183d7,
    digital     : #2ecc71,
    telecoms    : #d64541,
    web         : #926fb1,
    cyber       : #f62459,
    developer   : #ce4125,
    software    : #f7b322,
    business    : #db8c0d
);

$color-map--services-dark: (
    bespoke     : #526781,
    it          : #2a6ec6,
    digital     : #26ab5f,
    telecoms    : #c42e2a,
    web         : #7e57a0,
    cyber       : #e80a42,
    developer   : #a3331d,
    software    : #e8a008,
    business    : #b4730b
);

$color-map--reviews: (
    google       : #4387f6,
    trustpilot   : #00b67b
);

$color-map--reviews-dark: (
    google       : #166af4,
    trustpilot   : #009b69
);

$color-map--btns: (
    default             : #999aa2,
    default-inverse     : #75788a,
    default-alt         : #999aa2,
    primary             : #333645,
    primary-inverse     : #272936
);

$color-map--btns-dark: (
    default             : #84858f,
    default-inverse     : #999aa2,
    default-alt         : #7e808a,
    primary             : #22242e,
    primary-inverse     : #121318,
);