// ==========================================================================
// variables/colors.scss
// ==========================================================================

// Individual Colors
$color--black           : #000;
$color--white           : #fff;
$color--navy            : #323544;
$color--navy-dark       : #333645;
$color--navy-darker     : #212330;
$color--grey            : #ccc;
$color--grey-dark       : #666;

// Single-use Colors
$color--brand-quote-title       : #a3a8ac;
$color--header-search-btn       : #999aa2;
$color--textfield-border        : #e5e5e5;
$color--textfield-border-focus  : #5bc0de;
$color--textfield-font-color    : #555;

// Color Maps
$color-map--social-media: (
    facebook    : #3b5998,
    linkedin    : #0077b5,
    x           : #00aced,
    instagram   : #d93175
);

$color-map--services: (
    bespoke     : #67809f,
    it          : #4183d7,
    digital     : #2ecc71,
    telecoms    : #d64541,
    web         : #926fb1,
    cyber       : #f62459,
    developer   : #ce4125,
    software    : #f7b322,
    business    : #db8c0d
);

$color-map--services-dark: (
    bespoke     : #526781,
    it          : #2a6ec6,
    digital     : #26ab5f,
    telecoms    : #c42e2a,
    web         : #7e57a0,
    cyber       : #e80a42,
    developer   : #a3331d,
    software    : #e8a008,
    business    : #b4730b
);

$color-map--reviews: (
    google       : #4387f6,
    trustpilot   : #00b67b
);

$color-map--reviews-dark: (
    google       : #166af4,
    trustpilot   : #009b69
);

$color-map--btns: (
    default             : #999aa2,
    primary             : #333645,
    primary-inverse     : #272936
);

$color-map--btns-dark: (
    default             : #84858f,
    primary             : #22242e,
    primary-inverse     : #121318,
);