// ==========================================================================
// typography.scss
// ==========================================================================

// Font Family
$font-url       : 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,600&display=swap';
$font-family    : 'Poppins', sans-serif;

// Font Weights
$font-weight--regular       : 400;
$font-weight--medium        : 500;
$font-weight--semi-bold     : 600;
$font-weight--bold          : 700;
$font-weight--extra-bold    : 800;

// Base typography styles for body.
$font-size          : 16px;
$line-height        : 1.42857143;
$letter-spacing     : 0.4px;